# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/frontend/node_modules
/static

# testing
/coverage

# production
/frontend/build

# misc
.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
