# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/frontend/node_modules
/static

# testing
/coverage

# production
/frontend/build
/frontend/static
/frontend/dist

# docs
docs/_site/
docs/.jekyll-metadata
docs/.jekyll-cache

# misc
.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
backend/dependency-reduced-pom.xml

npm-debug.log
yarn-error.log
lerna-debug.log
logs/*.gz
logs/*.log
